<div style="font-weight: bolder; font-family: 'Times New Roman', Times, serif; background-color:#1e293b;" class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3  border-bottom shadow-sm fixed-top">
    <h1 class="my-0 mr-md-auto text-white font-weight-bold">$ecure</h1>
    <nav class="my-2 my-md-0 mr-md-3">
        <!-- <a class="p-2 text-dark" routerLink="/Maindashboard" *ngIf="isSignedIn">Maindashboard</a> -->

        <a class="p-2 text-light" *ngIf="!isSignedIn" routerLink="/register">SignUp</a>
        <a class="p-2 text-light" *ngIf="!isSignedIn" routerLink="/login">SignIn</a>

    </nav>
    <button class="btn btn-outline-primary" (click)="signOut()" *ngIf="isSignedIn" style="margin-left: 250px;">Log out</button>
</div>
<router-outlet></router-outlet>
<!-- <app-maindashboard></app-maindashboard> -->