<mat-nav-list>
  <div class="logo py-4">
    <!-- <img src="./assets/logo.svg" alt="Company Logo" /> -->
    <img src="../../assets/secure_pic.gif" alt="secure">
  </div>
  <mat-divider></mat-divider>
  <h2 matSubheader class="mt-2">APPLICATIONS</h2>

  <a mat-list-item routerLinkActive="list-item-active" routerLink="/home">
    <mat-icon>home</mat-icon> Home
  </a>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/dashboard">
    <mat-icon>dashboard</mat-icon> Parent Dashboard
  </a>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/child">
    <mat-icon>supervisor_account</mat-icon> Child
    </a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/card">
      <mat-icon>money</mat-icon> Card
      </a>
    
  <!-- <a mat-list-item> <mat-icon>edit</mat-icon> Link 3 </a>
  <a mat-list-item> <mat-icon>edit</mat-icon> Link 4 </a>
  <a mat-list-item> <mat-icon>edit</mat-icon> Link 5 </a>
  <a mat-list-item> <mat-icon>edit</mat-icon> Link 6 </a> -->
</mat-nav-list>
